# Eploration des données Building Performance Database

In [1]:
import pandas as pd
df = pd.read_csv("seattle_data.csv", sep=";", encoding='iso-8859-1')

### Calculs des valeurs centrales et dispersives

Les 10 premières valeurs les plus fréquentes de Property Type :

In [2]:
df_pt = df['Property Type'].value_counts()
df_pt.head(10)

Multifamily Housing       1656
Office                     469
Other                      256
Refrigerated Warehouse     199
K-12 School                139
Mixed Use Property         133
Retail Store                91
Hotel                       77
Worship Facility            71
Distribution Center         53
Name: Property Type, dtype: int64

Concernant la surface du bâti :

In [3]:
df['Floor Area (ft^2)'].mean()

84096.21155555555

In [4]:
df['Floor Area (ft^2)'].median()

43210.0

In [5]:
df['Floor Area (ft^2)'].min()

3636.0

In [6]:
df['Floor Area (ft^2)'].max()

2200000.0

Concernant l'année de construction du bâti :

In [7]:
df_yb = df['Year Built'].value_counts()
df_yb.head(10)

2000    72
2014    67
1989    67
2008    66
1988    64
1999    64
1968    63
1990    60
2001    60
2002    59
Name: Year Built, dtype: int64

In [8]:
df['Year Built'].min()

1900

In [9]:
df['Year Built'].max()

2015

In [10]:
df['Year Built'].median()

1975.0

Benchmarking Year :

In [11]:
df_by = df['Benchmarking Year'].value_counts()
df_by.head(10)

2016    3376
Name: Benchmarking Year, dtype: int64

In [12]:
df['Benchmarking Year'].min()

2016

In [13]:
df['Benchmarking Year'].max()

2016

In [14]:
df['Benchmarking Year'].median()

2016.0

Concernant l'évaluation de la performance énergétique du bâti :

In [15]:
df_ess = df['ENERGY STAR Score'].value_counts()
df_ess.head(10)

100.0    109
98.0      72
96.0      64
89.0      58
93.0      57
92.0      53
95.0      51
91.0      49
94.0      49
99.0      49
Name: ENERGY STAR Score, dtype: int64

In [16]:
df['ENERGY STAR Score'].mean()

67.91867350967233

In [17]:
df['ENERGY STAR Score'].median()

75.0

In [18]:
low_esc = df[df['ENERGY STAR Score']<50]
low_esc.head(5)

,Property Name,Property Type,Address,City,County,State,ZIP Code,Latitude,Longitude,Floor Area (ft^2),...,Weather Normalized Source EUI (kBtu/ft^2),Direct GHG Emissions (MtCO2e),Indirect GHG Emissions (MtCO2e),Total GHG Emissions (MtCO2e),Water Use Intensity (gal/ft^2),ID,Parcel,Number of Buildings,Number of Floors,Years Certified
2,5673-The Westin Seattle,Hotel,1900 5th Avenue,Seattle,King,WA,98101.0,47.61393,-122.33810,759392.0,...,244.100006,NaN,NaN,2089.28,NaN,3,659000475,1.0,41,NaN
6,Camlin,Hotel,1619 9th Avenue,Seattle,King,WA,98101.0,47.61390,-122.33283,83008.0,...,154.699997,NaN,NaN,176.14,NaN,10,660000825,1.0,11,NaN
8,311wh-Pioneer Square,Hotel,612 2nd Ave,Seattle,King,WA,98104.0,47.60294,-122.33263,163984.0,...,187.199997,NaN,NaN,392.16,NaN,12,939000080,1.0,15,NaN
9,Lyon Building,Multifamily Housing,607 - 3rd Ave.,Seattle,King,WA,98104.0,47.60284,-122.33184,62216.0,...,187.399994,NaN,NaN,151.12,NaN,13,939000105,1.0,6,NaN
10,Hotel Monaco Seattle,Hotel,1101 4th Avenue,Seattle,King,WA,98101.0,47.60695,-122.33414,133884.0,...,233.000000,NaN,NaN,691.26,NaN,15,942000145,1.0,11,NaN

Concernant la consommation énergétique du bâti :

In [19]:
df['Site EUI (kBtu/ft^2)'].mean()

55.025783392587286

In [20]:
df['Site EUI (kBtu/ft^2)'].median()

38.79999924

In [21]:
df['Site EUI (kBtu/ft^2)'].max()

834.4000244

In [22]:
df['Source EUI (kBtu/ft^2)'].mean()

135.1965300733147

In [23]:
df['Source EUI (kBtu/ft^2)'].max()

2620.0

Weather data :

In [24]:
df['Weather Normalized Site EUI (kBtu/ft^2)'].mean()

57.56298293857472

In [25]:
df['Weather Normalized Site EUI (kBtu/ft^2)'].max()

834.4000244

In [26]:
df['Weather Normalized Source EUI (kBtu/ft^2)'].mean()

139.31549548263183

In [27]:
df['Weather Normalized Source EUI (kBtu/ft^2)'].max()

2620.0

Concernant les émission de GES :

In [28]:
df['Direct GHG Emissions (MtCO2e)'].mean()

nan

In [29]:
df['Direct GHG Emissions (MtCO2e)'].max()

nan

In [30]:
df['Indirect GHG Emissions (MtCO2e)'].mean()

nan

In [31]:
df['Indirect GHG Emissions (MtCO2e)'].max()

nan

In [32]:
df['Total GHG Emissions (MtCO2e)'].mean()

119.65245468053492

In [33]:
df['Total GHG Emissions (MtCO2e)'].max()

16870.98

Concernant la consommation en eau du bâti :

In [34]:
df['Water Use Intensity (gal/ft^2)'].mean()

nan

In [35]:
df['Water Use Intensity (gal/ft^2)'].max()

nan

#### On filtre les valeurs 'Multifamily Housing' pour se concentrer sur les quartiers résidentiels d'habitat collectif :

In [36]:
df_mfh = df[df['Property Type'] == 'Multifamily Housing']
df_mfh['Site EUI (kBtu/ft^2)'].mean()

37.26178075699697

Parmi les bâtiments d'habitat collectif, on recherche les bâtiments consommant le plus d'énergie :

In [55]:
filtre = df_mfh.sort_values(by=['Site EUI (kBtu/ft^2)'], ascending=False)
f_bis = filtre[['Property Name', 'Number of Buildings', 'Number of Floors', 'Floor Area (ft^2)', 'Year Built', 'ENERGY STAR Score', 'Site EUI (kBtu/ft^2)', 'Source EUI (kBtu/ft^2)', 'Total GHG Emissions (MtCO2e)']]
f_bis.head(20)

,Property Name,Number of Buildings,Number of Floors,Floor Area (ft^2),Year Built,ENERGY STAR Score,Site EUI (kBtu/ft^2),Source EUI (kBtu/ft^2),Total GHG Emissions (MtCO2e)
1706,Taylor Anne Condominium,1.0,5,30569.0,1969,1.0,221.000000,684.299988,54.25
3092,Commodore Duchess Apartments,1.0,8,97923.0,1925,5.0,147.500000,220.600006,686.53
3265,Stewart House,1.0,3,49000.0,1904,NaN,136.699997,366.799988,78.39
2763,Atlas Building,1.0,4,46560.0,1920,NaN,133.500000,211.300003,284.42
3082,Building 4,1.0,4,46725.0,2008,1.0,131.300003,218.600006,531.96
1139,Plymouth on Stewart,1.0,8,55882.0,1909,NaN,127.099999,203.500000,264.43
3151,Hong Kong Building,1.0,5,30993.0,1927,NaN,126.400001,221.399994,155.47
1247,SUMMIT AT FIRST HILL (ID#21344),1.0,13,207022.0,2000,1.0,123.500000,223.699997,709.11
2863,St. Johns Apartments,1.0,3,24682.0,1910,74.0,112.199997,205.399994,96.18
3085,The Morrison,1.0,7,159840.0,1908,1.0,109.699997,235.699997,402.04
1237,TEN TWENTY,1.0,5,39895.0,1962,26.0,108.599999,148.699997,159.98
2257,(ID25004) PENN HALL,1.0,3,20809.0,1926,17.0,108.300003,142.699997,17.75
2922,Vali Hai,2.0,4,43346.0,1959,5.0,104.300003,205.600006,148.02
2730,Lakeside West,1.0,6,80539.0,1961,22.0,102.199997,148.800003,299.38
1893,Domaine,1.0,6,56035.0,2006,4.0,101.300003,258.000000,80.06
1740,Frederic Ozanam House,1.0,6,32489.0,2009,18.0,99.500000,236.699997,48.08
1156,John Winthrop Apartments,1.0,5,52620.0,1925,28.0,99.400002,157.800003,188.58
794,Lexington/Concord Appartments,1.0,3,33440.0,1923,38.0,98.400002,130.100006,154.89
1148,Simons Senior Apartments,1.0,6,96980.0,2007,1.0,97.800003,187.300003,221.10
865,Trailside Apts 4701 & 4708 (ID20059),1.0,3,26157.0,1959,1.0,96.900002,304.299988,17.67

On peut constater parmi ces 20 résultats le faible taux de l'évaluation de la performance énergétique (ENERGY STAR Score) et que la moitié des bâtiments retenus a été construite avant 1950. On s'interroge ainsi sur un éventuel lien entre forte consommation énergétique et année de construction :

Parmi la liste de bâtiments obtenus, on liste les bâtiments les moins performants énergétiquement :

In [57]:
f_ter = f_bis.head(20)
f_ter.sort_values(by=['ENERGY STAR Score'], ascending=True)

,Property Name,Number of Buildings,Number of Floors,Floor Area (ft^2),Year Built,ENERGY STAR Score,Site EUI (kBtu/ft^2),Source EUI (kBtu/ft^2),Total GHG Emissions (MtCO2e)
1706,Taylor Anne Condominium,1.0,5,30569.0,1969,1.0,221.000000,684.299988,54.25
3082,Building 4,1.0,4,46725.0,2008,1.0,131.300003,218.600006,531.96
1247,SUMMIT AT FIRST HILL (ID#21344),1.0,13,207022.0,2000,1.0,123.500000,223.699997,709.11
3085,The Morrison,1.0,7,159840.0,1908,1.0,109.699997,235.699997,402.04
1148,Simons Senior Apartments,1.0,6,96980.0,2007,1.0,97.800003,187.300003,221.10
865,Trailside Apts 4701 & 4708 (ID20059),1.0,3,26157.0,1959,1.0,96.900002,304.299988,17.67
1893,Domaine,1.0,6,56035.0,2006,4.0,101.300003,258.000000,80.06
3092,Commodore Duchess Apartments,1.0,8,97923.0,1925,5.0,147.500000,220.600006,686.53
2922,Vali Hai,2.0,4,43346.0,1959,5.0,104.300003,205.600006,148.02
2257,(ID25004) PENN HALL,1.0,3,20809.0,1926,17.0,108.300003,142.699997,17.75
1740,Frederic Ozanam House,1.0,6,32489.0,2009,18.0,99.500000,236.699997,48.08
2730,Lakeside West,1.0,6,80539.0,1961,22.0,102.199997,148.800003,299.38
1237,TEN TWENTY,1.0,5,39895.0,1962,26.0,108.599999,148.699997,159.98
1156,John Winthrop Apartments,1.0,5,52620.0,1925,28.0,99.400002,157.800003,188.58
794,Lexington/Concord Appartments,1.0,3,33440.0,1923,38.0,98.400002,130.100006,154.89
2863,St. Johns Apartments,1.0,3,24682.0,1910,74.0,112.199997,205.399994,96.18
3265,Stewart House,1.0,3,49000.0,1904,NaN,136.699997,366.799988,78.39
2763,Atlas Building,1.0,4,46560.0,1920,NaN,133.500000,211.300003,284.42
1139,Plymouth on Stewart,1.0,8,55882.0,1909,NaN,127.099999,203.500000,264.43
3151,Hong Kong Building,1.0,5,30993.0,1927,NaN,126.400001,221.399994,155.47

Comme on peut le constater, il semble qu'il n'y ait pas de corrélation entre l'année de construction du bâti et sa performance énergétique.