# Eploration des données Building Performance Database

In [1]:
import pandas as pd
df = pd.read_csv("ny_ordnance_data.csv", sep=";", encoding='iso-8859-1')

### Calculs des valeurs centrales et dispersives

Les 10 premières valeurs les plus fréquentes de Property Type :

In [2]:
df_pt = df['Property Type'].value_counts()
df_pt.head(10)

Multifamily Housing           9559
Office                        1548
K-12 School                   1305
Hotel                          275
Non-Refrigerated Warehouse     227
Other                          224
College/University             198
Senior Care Community          123
Residence Hall/Dormitory       122
Self-Storage Facility          113
Name: Property Type, dtype: int64

Concernant la surface du bâti :

In [3]:
df['Floor Area (ft^2)'].mean()

168776.99063573882

In [4]:
df['Floor Area (ft^2)'].median()

93180.0

In [5]:
df['Floor Area (ft^2)'].min()

50028.0

In [6]:
df['Floor Area (ft^2)'].max()

6940450.0

Concernant l'année de construction du bâti :

In [7]:
df_yb = df['Year Built'].value_counts()
df_yb.head(10)

1931.0    495
1928.0    472
1927.0    468
1930.0    468
1929.0    434
1925.0    415
1920.0    370
1926.0    351
1963.0    316
1962.0    290
Name: Year Built, dtype: int64

In [8]:
df['Year Built'].min()

1600.0

In [9]:
df['Year Built'].max()

2017.0

In [10]:
df['Year Built'].median()

1945.0

Benchmarking Year :

In [11]:
df_by = df['Benchmarking Year'].value_counts()
df_by.head(10)

2016    15118
Name: Benchmarking Year, dtype: int64

In [12]:
df['Benchmarking Year'].min()

2016

In [13]:
df['Benchmarking Year'].max()

2016

In [14]:
df['Benchmarking Year'].median()

2016.0

Concernant l'évaluation de la performance énergétique du bâti :

In [15]:
df_ess = df['ENERGY STAR Score'].value_counts()
df_ess.head(10)

100.0    779
1.0      356
99.0     228
86.0     189
84.0     183
93.0     180
87.0     177
80.0     176
88.0     176
92.0     175
Name: ENERGY STAR Score, dtype: int64

In [16]:
df['ENERGY STAR Score'].mean()

60.969649093630466

In [17]:
df['ENERGY STAR Score'].median()

67.0

In [18]:
low_esc = df[df['ENERGY STAR Score']<50]
low_esc.head(5)

,Property Name,Property Type,Address,City,County,State,ZIP Code,Latitude,Longitude,Floor Area (ft^2),...,Indirect GHG Emissions (MtCO2e),Total GHG Emissions (MtCO2e),Water Use Intensity (gal/ft^2),Property ID,Parent Property ID,Parent Property Name,BBL,BIN,Borough,Number of Buildings
13,Cadman - 10 Clinton St,Multifamily Housing,10 CLINTON STREET,New York,Kings,NY,11201,NaN,NaN,212656.0,...,322.7,2846.8,NaN,5871253,2637863,Cadman Towers,3002380035,3319420,Brooklyn,1
30,Metro North - 420-440 East 102 St.,Multifamily Housing,455 EAST 102 STREET,New York,New York,NY,10029,NaN,NaN,175885.0,...,562.0,765.3,1.35,3111973,3111973,Metro North - 420-440 East 102 St.,1016940003,1083934,Manhattan,2
33,Benjamin: 209-30 86 Drive (Parent),Multifamily Housing,210-10 GRND CNTRL PKWY SR E,New York,Queens,NY,11427,NaN,NaN,145056.0,...,606.1,787.9,NaN,3129231,3129231,Benjamin: 209-30 86 Drive (Parent),4105920150,4434643;4434642;4434641;4434644,Queens,4
62,CEPSR Schapiro,Office,530 WEST 120 STREET,New York,New York,NY,10027,NaN,NaN,1368870.0,...,11584.8,52401.0,NaN,2658585,3612678,Columbia University (morningside),1019730001,1084476,Manhattan,1
93,Irving Cancer Research Center,Office,1132 ST NICHOLAS AVENUE,New York,New York,NY,10032,NaN,NaN,286481.0,...,4579.0,7725.9,159.94,2363861,3614737,Columbia University Medical Center,1021240017,1062989,Manhattan,1

Concernant la consommation énergétique du bâti :

In [19]:
df['Site EUI (kBtu/ft^2)'].mean()

85.36729521492295

In [20]:
df['Site EUI (kBtu/ft^2)'].median()

77.6

In [21]:
df['Site EUI (kBtu/ft^2)'].max()

992.6

In [22]:
df['Source EUI (kBtu/ft^2)'].mean()

148.14116971702572

In [23]:
df['Source EUI (kBtu/ft^2)'].max()

2594.5

Weather data :

In [24]:
df['Weather Normalized Site EUI (kBtu/ft^2)'].mean()

89.3866501761487

In [25]:
df['Weather Normalized Site EUI (kBtu/ft^2)'].max()

986.1

In [26]:
df['Weather Normalized Source EUI (kBtu/ft^2)'].mean()

152.9892875870852

In [27]:
df['Weather Normalized Source EUI (kBtu/ft^2)'].max()

3080.4

Concernant les émission de GES :

In [28]:
df['Direct GHG Emissions (MtCO2e)'].mean()

469.10316147535514

In [29]:
df['Direct GHG Emissions (MtCO2e)'].max()

86813.0

In [30]:
df['Indirect GHG Emissions (MtCO2e)'].mean()

585.8064613123079

In [31]:
df['Indirect GHG Emissions (MtCO2e)'].max()

78476.9

In [32]:
df['Total GHG Emissions (MtCO2e)'].mean()

1051.9175464385942

In [33]:
df['Total GHG Emissions (MtCO2e)'].max()

86813.0

Concernant la consommation en eau du bâti :

In [34]:
df['Water Use Intensity (gal/ft^2)'].mean()

53.414285363457765

In [35]:
df['Water Use Intensity (gal/ft^2)'].max()

491.18